<div class="container" data-ng-controller="HeaderController">
 
   <nav>
    <ul class="nav navbar-nav">
      <li ui-route="/" ng-class="{active: ($uiRoute)}" >
        <a href="/#!/">
          <span class="glyphicon glyphicon-leaf"></span> 
          <span class="brand">  ConsultApp</span>
        </a>  
      </li>
      <li>
        <span class="divider">
            |
        </span>
      </li>
      <li ui-route="/articles" ng-class="{active: ($uiRoute)}">
        <a href="/#!/articles" data-toggle="tooltip" data-placement="bottom" title="List All Consulting Questions">
          <span class="glyphicon glyphicon-list headerfonts" ></span>
          <span>  List</span>
        </a>
      </li>
      <li>
        <span class="divider">
            |
        </span>
      </li>
      <li ui-route="/articles/create" ng-class="{active: ($uiRoute)}">
        <a href="/#!/articles/create" data-toggle="tooltip" data-placement="bottom" title="Create New Consulting Question">
          <span class="glyphicon glyphicon-pencil headerfonts" ></span>
          <span>  Create</span>
        </a>
      </li>
    </ul>
		
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-user text-info glyphsize usericon"></span>
        </a>
				<ul class="dropdown-menu">
					<li class="menuuser">
            <h4>{{authentication.user.displayName}}</h4>
          </li>
          <li class="divider"></li>
          <li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
<script>
  $('.headerfonts').tooltip();
</script>