<section data-ng-controller="HomeController">
  
  <div class = "jumbotron maincontrols-jumbo">
    <div class="container maincontrols-div text-center">
      
      <a href="/#!/articles" class="btn text-muted bg-warning maincontrols" name="list">
        <h1 class="glyphicon glyphicon-th-list"></h1>
        <p>List Consulting Questions</p>
        <h6>(Partake in the Wisdom)</h6>
      </a>
      <a href="/#!/articles/create" class="btn text-muted bg-warning maincontrols" name="list">
        <h1 class="glyphicon glyphicon-pencil"></h1>
        <p>New Consultative Question</p>
        <h6>(Share your wisdom)</h6>
      </a>
      <a href="/#!/articles" class="btn text-muted bg-warning maincontrols" name="list" disabled="disabled">
        <h1 class="glyphicon glyphicon-search"></h1>
        <p>Search Consulting Questions</p>
        <h6>(Coming Soon)</h6>
      </a>
      <div class="btn-group-vertical text-muted text-center maincontrols" name="list" id="usercontrol">
        
        <a href="/#!/settings/profile" type="button" class="btn btn-default glyphicon glyphicon-cog">
          <p>User</p>
        </a>
        <a href="/#!/settings/password" type="button" class="btn btn-default glyphicon glyphicon-exclamation-sign">
          <p>Password</p>
        </a>
      </div>
      <a href="/#!/articles" class="btn text-muted bg-warning maincontrols" name="list" disabled="disabled">
        <h1 class="glyphicon glyphicon-cloud"></h1>
        <p>Share A Favorite Question</p>
      </a>
      <a href="/#!/articles" class="btn text-muted bg-warning maincontrols" name="list" disabled="disabled">
        <h1 class="glyphicon glyphicon-tags"></h1>
        <p>List By Keyword</p>
      </a>
    </div>
  </div>
</section>
