<section class = "container">
<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h2 class="articletitle">Consulting Questions</h2>
	</div>
	<div class="form-group" data-ng-repeat="article in articles | orderBy:'-date'">
    <div> 
      <div class="panel panel-primary">
        <div class="panel-heading">
          {{article.title}}
        </div>
        <a data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
          <div class="panel-body">
            <p data-ng-bind="article.content"></p>
          </div>
        </a>
        <div class="panel-footer">
          <div class="text-center label label-info">
            <span><span class="glyphicon glyphicon-tag"></span>   {{article.keywords}}  </span>
          </div>
          <div class="text-center label label-warning">
            <span><span class="glyphicon glyphicon-tag"></span>   {{article.keywordstwo}}  </span>
          </div>
          <div class="text-center label label-danger">
            <span><span class="glyphicon glyphicon-tag"></span>   {{article.keywordsthree}}</span>
          </div>
          <div class="pull-right text-info">
            Posted on {{article.created | date:'mediumDate'}} by {{article.user.displayName}}
          </div>
        </div>
      </div>

      <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
        No articles yet, why don't you <a href="/#!/articles/create">create one</a>
      </div>
    </div>
  </div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create">create one</a>
	</div>
</section>  
</section>