

<div class="jumbotron text-center jumboform">
  <h3>Consultool v.0.25</h3>

  

  <form ng-submit="addPost()" name="userForm" novalidate>
    <div>
      <h3>Add a new Consulting Question</h3>
      <div class="form-group">
        <input class="form-control" ng-model="title"  type="text" cols="42" placeholder="Title" required>  
      </div>

      <div class="form-group">
        <input class="form-control" ng-model="question" type="text" cols="42" placeholder="Consulting Question" required>  
      </div>

      <div class="form-group">
        <textarea class="form-control" ng-model="description" type="text" rows="5" placeholder="Describe your consulting question in detail here." required></textarea>  
      </div>



      <button class="btn btn-md btn-success" type="submit" ng-disabled="userForm.$invalid">Post</button>

    </div>
  </form>  


</div>

<div class="jumbotron" id="submissionForm" ng-repeat="post in posts | orderBy: '-votes'">
        
            <button class="btn btn-sm btn-primary glyphicon glyphicon-thumbs-up"
                    ng-click="incrementUpvotes(post)"></button>
            <button class="btn btn-sm btn-warning glyphicon glyphicon-thumbs-down"
                    ng-click="incrementDownvotes(post)"></button>
            
        <div>
          <h4>Votes: {{post.votes}}</h4>
        </div>
          
  
  <div>
    {{post.title}}
  </div>  
  <div>
    {{post.question}}
  </div> 
  <div>
    {{post.description}}
  </div>
</div>
